<div>
    <div class="row">
        <todo card="card" row="vmTR.row" ng-repeat="(_id, card) in vmTR.row.cards"></todo>
        <copier size="right" on-add="vmTR.addCard()" ng-if="vmTR.row.cards.length < 3"></copier>
    </div>
</div>
